<?XML version="1.0"?>
<scriptlet>
  <script language="JScript">
    <![CDATA[
      var shell = new ActiveXObject("WScript.Shell");
      shell.Run("cmd.exe /c start microsoft-edge:https://www.google.com");
    ]]>
  </script>
</scriptlet>

